<div class="container-main">
  <div class="section-main">
    <aside class="sidenav">
      <!-- Logo -->
      <div class="logo">
        <h4>OrderBoard</h4>
      </div>

      <!-- Sidebar Menu -->
      <nav class="menu">
        <div class="menu-item">
          <i class="fa-solid fa-house"></i>
          <span>Dashboard</span>
        </div>

        <div class="menu-item">
          <i class="fa-solid fa-file-circle-plus"></i>
          <span>Create Order</span>
        </div>

        <div class="menu-item">
          <i class="fa-solid fa-clock-rotate-left"></i>
          <span>Order History</span>
        </div>

        <div class="menu-item">
          <i class="fa-solid fa-users"></i>
          <span>Frequent Customers</span>
        </div>

        <div class="menu-item">
          <i class="fa-solid fa-gear"></i>
          <span>Settings</span>
        </div>

        <div class="menu-item logout">
          <i class="fa-solid fa-right-from-bracket"></i>
          <span>Logout</span>
        </div>
        
      </nav>


   
    </aside>
  </div>
</div>
