<div class="welcome-board">
    <div class="welcome-header">
      <h2>Welcome Back, <span>Sithembiso</span>!</h2>
      <p>Here’s what’s happening today on your dashboard.</p>
    </div>
  
    <div class="welcome-cards">
      <div class="card">
        <h3>Total Orders</h3>
        <p>70</p>
      </div>
  
      <div class="card">
        <h3>Frequent Customers</h3>
        <p>1</p>
      </div>

      <div class="card">
        <h3>Revenue</h3>
        <p>R500</p>
      </div>
    </div>
  </div>
  